div{
	margin: 10px;
	padding:10px;
	border:1px pink solid;
}

input{
	Margin:10px;
	vertical-align:middle;
}

button{
	vertical-align:middle;
}

.header{
	margin:10px;
	border:1px pink solid;
	padding:10px;
}

#left{
	float:left;
    width: 80%;
}

#right{
	float:right;
}

.subHeader{
}

.addLink{
}

.table{
	max-height: 200px;
	min-height: 200px;
}

.login{
}
