body {
    font-size: 1.5em;
    color: #FFFFFF;
    background: #4D4D4D;
}

header,
main,
aside,
footer {
    display: block; /* ältere Browser */
}

input{
    height: 2em;
    border-radius: 0.5em;
}

button{
    height: 2.4em;
    border-radius: 0.5em;
}

#webAddress, #innerHTML{
    width: 40%;
}

#addLinkButton{
    width: 15%;
}

.content{
    height: 50%;
}

.subregion{
    border: 1px yellow solid;
}

.header {
    padding: 1em;
    border:1px pink solid;
}
.nav {
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
    border:1px pink solid;
}
.main {
    box-sizing: border-box;
    padding: 1em;
    width: 60%;
    border:1px pink solid;
}
.sidebar {
    box-sizing: border-box;
    padding: 1em;
    width: 20%;
    border:1px pink solid;
}
.footer {
    padding: 1em;
    border:1px pink solid;
}

.content{
    display: flex;
}

/*
.region{
	margin: 10px;
	padding:10px;
	border:1px pink solid;
}

input{
	Margin:10px;
	vertical-align:middle;
}

button{
	vertical-align:middle;
}

.header{
	margin:10px;
	border:1px pink solid;
	padding:10px;
}

#left{
	float:left;
    width: 80%;
}

#right{
	float:right;
}

.subHeader{
}

.addLink{
}

.table{
	max-height: 200px;
	min-height: 200px;
}

.login{
}
*/