body{
    font-size: 1.5em;
    color: #FFFFFF;
    background: #4D4D4D;
}

input{
    height: 2em;
    border-radius: 0.5em;
}

button{
    height: 2.4em;
    border-radius: 0.5em;
    min-width: 100px;
    margin: 10px;
}

li{
    min-height: 100px;
    padding: 10px;
    margin: 0px 0px 0px -40px;
}

li:nth-child(2n){
    background: darkgray;
}

.header,
.nav,
.main,
.aside,
.footer{
    /*border: 1px pink solid;*/
}

.nav,
.aside{
    width: 20%;
    margin: 10px;
}

.main{
    width: 60%;
    margin: 10px 0px;
}

.content{
    display: flex;
}

.table{
    list-style: none;
    background: lightgray;
    border: #000000 5px outset;
    border-radius: 10px;
}