body {
  font-size: 1.5em;
  color: #ffffff;
  background: #4d4d4d;
  font-family: Segoe UI, Arial, sans-serif;
  padding: 0% 10%;
}
input {
  height: 2em;
  border-radius: 10px;
  font-family: Segoe UI, Arial, sans-serif;
}
button {
  height: 2.4em;
  color: #ffffff;
  border-radius: 10px;
  font-family: Segoe UI, Arial, sans-serif;
  min-width: 100px;
  margin: 10px;
}
li {
  min-height: 100px;
  padding: 10px;
  margin: 0px 0px 0px -40px;
}
li:nth-child(2n) {
  background: darkgray;
}
.ui-dialog {
  background: #4d4d4d;
  border-radius: 10px;
  font-family: Segoe UI, Arial, sans-serif;
}
.content {
  background-color: gray;
  border: #000000 2px outset;
  border-radius: 10px;
  height: 40em;
}
.table {
  background: lightgray;
  border: #000000 2px outset;
  border-radius: 10px;
}

.header,
.nav,
.main,
.sidebar,
.footer {
  /*    border: 1px pink solid;*/
}
.nav,
.sidebar {
  min-width: 15%;
  margin: 10px ;
}
.main {
  min-width: 60%;
  margin: 10px;
}
.content {
  display: flex;
}
.table {
  list-style: none;
}
.postRating {
  min-width: 10%;
}
.postContent {
  display: flex;
}
.postDetail {
  left: 10%;
}
