form(action='/data/comments',method='post')
    div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            label(for='userId') userId
                input(id='userId',type='integer',value='', name='userId')
    div#passworddiv(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            label(for='postId') postId
                input(id='postId',type='integer',value='', name='postId')
    div#passworddiv(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            label(for='comment') comment
                input(id='comment',type='text',value='', name='comment')
    div(data-role='fieldcontain')
        input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')
