@borderRadius: 7px;
@border: #000000 2px outset;
@foreground: #FFFFFF;
@background: #4D4D4D;
@font-family: Segoe UI,Arial,sans-serif;
@font-size: 1.5em;
@height: 2em;
@padding: .5em;

.background-opacity(@color, @opacity) {
  @rgba-color: rgba(red(@color), green(@color), blue(@color), @opacity);

  background-color: @rgba-color;

  // Hack for IE8:
  background: none\9; // Only IE8
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d')", argb(@rgba-color),argb(@rgba-color))); // IE9 and down
  // Problem: Filter gets applied twice in IE9.
  // Solution:
  &:not([dummy]) {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false'); // Only IE9
  }
}

body{
  color: @foreground;
  background: @background;
  font-family: @font-family;
  font-size: @font-size;
  padding: 0% 10%;
}

input{
  height: @height;
  border-radius: @borderRadius;
  font-family: @font-family;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  height: @height;
  color: @foreground;
  border-radius: @borderRadius;
  font-size: @font-size / 2;
  min-width: 100px;
  margin: @padding;
  padding: 0 .5em 0 .5em;
  background: linear-gradient(to bottom, #000000, #ffffff);

  &:disabled {
    color: darkgrey;
    background: #d3d3d3;
  }
}

li{
  min-height: 100px;
  padding: @padding;
  margin: 0px 0px 0px -40px;

  &:nth-child(2n){
    background: darkgray;
  }

  &:first-child{
    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
  }

  &:last-child{
    border-bottom-left-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
  }

  &:hover
  {
    background:lightBlue;
  }
}

.ui-dialog{
  background: @background;
  border-radius: @borderRadius;
  font-family: @font-family;
  padding: 0;

  .ui-dialog-titlebar-close{
    min-width: 0;
    margin: -@padding @padding 0 0;
  }

  .ui-dialog-content{
    padding: @padding;
  }
}

.ui-widget-header{
  background: #000000;
  border-top-left-radius: @borderRadius;
  border-top-right-radius: @borderRadius;
  border:#ffffff;
}

.content{
  .background-opacity( white, 0.4);
  border: @border;
  border-radius: @borderRadius;
  height: 40em;
}

.table{
  .background-opacity( white, 0.4);
  border: @border;
  border-radius: @borderRadius;
}