@borderRadius: 10px;
@border: #000000 2px outset;
@foreground: #FFFFFF;
@background: #4D4D4D;
@font-family: Segoe UI,Arial,sans-serif;
@font-size: 1.5em;
@height: 2em;
@padding: .5em;

body{
  color: @foreground;
  background: @background;
  font-family: @font-family;
  font-size: @font-size;
  padding: 0% 10%;
}

input{
  height: @height;
  border-radius: @borderRadius;
  font-family: @font-family;
}

button{
  height: @height;
  color: @foreground;
  border-radius: @borderRadius;
  font-size: @font-size / 2;
  min-width: 100px;
  margin: @padding;
  padding: 0 .5em 0 .5em;
  background: linear-gradient(to bottom, #000000, #ffffff);
}

li{
  min-height: 100px;
  padding: @padding;
  margin: 0px 0px 0px -40px;

  &:nth-child(2n){
    background: darkgray;
  }

  &:hover
  {
    background:lightBlue;
  }
}

.ui-dialog{
  background: @background;
  border-radius: @borderRadius;
  font-family: @font-family;
  padding: 0;

  .ui-dialog-titlebar-close{
    min-width: 0;
    margin: -@padding @padding 0 0;
  }

  .ui-dialog-content{
    padding: @padding;
  }
}

.ui-widget-header{
  background: #000000;
  border-top-left-radius: @borderRadius;
  border-top-right-radius: @borderRadius;
  border:#ffffff;
}

.content{
  background-color: gray;
  border: @border;
  border-radius: @borderRadius;
  height: 40em;
}

.table{
  background: lightgray;
  border: @border;
  border-radius: @borderRadius;
}