.header,
.nav,
.main,
.sidebar,
.footer{
  /*    border: 1px pink solid;*/
}

.nav,
.sidebar{
  min-width: 15%;
  margin: 10px ;
}

.main{
  min-width: 60%;
  margin: 10px;
}

.content{
  display: flex;
  border: 3px black groove;
  background-color: gray;
  height: 40em;
}

.table{
  list-style: none;
  background: lightgray;
  border: #000000 5px outset;
  border-radius: 10px;
}

.post{
}

.postRating{
  min-width: 10%;
}

.postContent{
  display: flex;
}

.postDetail{
  left: 10%;
}