.header,
.nav,
.main,
.sidebar,
.footer{
  /*    border: 1px pink solid;*/
}

.nav,
.sidebar{
  min-width: 15%;
  margin: 10px ;
}

.main{
  min-width: 60%;
  margin: 10px;
}

.content{
  display: flex;
}

.table{
  list-style: none;
}

.post{
}

.postRating{
  min-width: 10%;
}

.postContent{
  display: flex;
}

.postDetail{
  left: 10%;
}