@font-size: 1.5em;
@height: 2em;
@padding: .5em;
@borderRadius: 7px;
@border: #000000 2px outset;

.header,
.nav,
.main,
.sidebar,
.footer{
  //border: 1px pink solid;
  overflow: hidden;
}

body{
  font-size: @font-size;
  padding: 0 10%;
}

input{
  height: @height;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  border-radius: @borderRadius;
  font-size: @font-size / 2;
  min-width: 100px;
  margin: @padding;
}

.nav,
.sidebar{
  width: 15%;
}

.main{
  width: 70%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.header{
  position: absolute;
  top: 0;
  width:100%;
}

.content{
  display: flex;
  position: absolute;
  top: 80px;
  Bottom: 80px;
  width:100%;
}
.footer{
  position: absolute;
  bottom: 0;
  width:100%;
}

.cat li{
  list-style: none;
  display: inline;
  margin: 10px;
  padding: 10px;
  flex: 1 1 auto;
}

.addLink{
  margin: 10px 0;
  flex: 0 0 auto;
}

.table{
  list-style: none;
  overflow-y: auto;
  flex: 1 1 auto;
  margin: 0;
}

.table li{
  padding: 10px;
  margin: 0 0 0 -40px;
}

.post{
}

.postRating{
  min-width: 10%;
  max-width: 10%;
}

.postRating{
  div{
    text-align: center;
  }
}

.postRating {
  button {
    min-width: 20px;
    max-width: 20px;
    border-radius: 0;
  }

  div {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

.postContent{
  display: flex;
}

.postDetail{
  left: 10%;
}

#postInteraction {
  min-width: 5%;
  max-width: 5%;
  text-align: center;

  button {
    border: none;
    background: transparent;
    color: white;
    max-width: 30px;
    min-width: 30px;
  }

  .postDeleteButton:hover{
      background: orangered;
  }

  .commentPost:hover{
      background: #000000;
  }
}

.ui-dialog{

  .ui-dialog-titlebar-close{
    min-width: 0;
    margin: -@padding @padding 0 0;
  }

  .ui-dialog-content{
    padding: @padding;
  }
}

@media (max-width: 100em) {
  body{
    padding: 0;
  }

  .header,
  .content,
  .footer {
    width: 100%;
  }
}

@media (max-width: 50em) {
  .header,
  .content,
  .footer {
    position: relative;
    top: auto;
    bottom: auto;
  }

  .content {
    display: block;
  }

  .nav,
  .sidebar,
  .main {
    width: 100%;
  }
}

/* navigation */
.navi {
  position: relative;
  margin: 20px 0;
}
.navi ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
.navi li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.navi a {
  padding: 3px 12px;
  text-decoration: none;
  color: #ffffff;
  line-height: 100%;
}
.navi a:hover {
  color: #000;
}
.navi .Categories{
  visibility: collapse;
}
/*.navi .Categories a {
  background: #999;
  color: #fff;
  border-radius: 5px;
}*/

@media screen and (max-width: 1520px) {
  .navi {
    position: relative;
    min-height: 40px;
  }
  .navi ul {
    width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    border: solid 1px #aaa;
    background: hotpink;
    //    background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    left: 0%;
  }
  .navi li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .navi .Categories {
    display: block; /* show only current <li> item */
    visibility: visible;
  }
  .navi a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .navi .Categories a {
    background: none;
    color: #666;
  }

  /* on nav hover */
  .navi ul:hover {
    background-image: none;
  }
  .navi ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .navi ul:hover .Categories {
    background: lightgreen;
  }
}