body
  font-family: $font-family
  font-weight: 200
a
  color: $red
  &:hover,
  &:focus
    color: $black

.btn,
button
  background-color: $black
  color: $grey
  &:hover,
  &:focus
    background-color: $green

h2
  margin-top: 0

textarea
  width: 100%
