<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reddit Clone</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="Lib/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/layout_desktop.css">
</head>

<body>

<div id="site">

	<header class="header">HEADER
	</header>

	<div class="content">

	    <nav class="nav">
	        <p>
	            <a href="Tests/Test.html">Tests</a>
	        </p>
	        <p>
	            <a href="style-guide/Index.html">StyleGuide</a>
	        </p>
	        <p>
	        </p>
	    </nav>

	    <main class="main">
		    <nav class="navi">
		        <ul class="cat">
		            {{#each categories.items}}
		                {{> category}}
		            {{/each}}
		        </ul>
	        </nav>
	        <ul class="table" id="linkContentTable" >
	            {{#each posts.items}}
	                {{> post}}
	            {{/each}}
	        </ul>
	    </main>



	    <aside class="sidebar">
	        <div class="login"></div>
	        <form id="loginDialog" class="dialog" title="login" method="none" >
	            <div>
	                <label for="loginDialogLoginInput">Login Name</label>
	                <input type="text" id="loginDialogLoginInput" />
	            </div>
	            <div>
	                <label for="loginDialogPasswordInput">Password</label>
	                <input type="password" id="loginDialogPasswordInput" />
	            </div>
	            <button id="loginDialogLoginButton" >login</button>
	        </form>
	        <button class="button" id="addPostButton" name="addLink">Add Link</button>
	        <p>
	        </p>
	    </aside>

        <form class="commentPostDialog" class="dialog" title="add comment" method="none" >
            <div>
                <label for="loginDialogLoginInput">Login Name</label>
                <input type="text" id="loginDialogLoginInput" />
            </div>
            <div>
                <label for="loginDialogPasswordInput">Password</label>
                <input type="password" id="loginDialogPasswordInput" />
            </div>
            <button class="loginDialogLoginButton" >login</button>
        </form>

	</div>

	<footer class="footer">FOOTER
	</footer>

</div>

<script data-main="default" src="Lib/require.js"></script>
</body>

</html>