<div>
    <a ng-href="#/new">New Post</a>
</div>

<div class="list-group" ng-repeat='post in posts'>
    <div class='list-group-item' ng-controller="PostCtrl" transfer="post" >
        <a>up</a>
        <a>down</a>
        <p>{{post.score}}</p>
        <a ng-href="post.url" ng-bind="post.url"></a>
        <p ng-bind="post.description"></p>
        <p>post created by user '{{post.user.name}}' at '{{post.createdAt}}'</p>
        <div ng-repeat="comment in post.comments">
            <p>{{comment.comment}}</p>
        </div>
        <a ng-href="#/posts(1)">Comments</a>
<!--        <div ng-controller="NavCtrl">
                    <a href="" ng-click="showComments()"></a>-->

        <a>Delete</a>

    </div>
</div>