<div class='list-group' ng-repeat='post in posts' ng-show='post.description'>
  <a href='{{ post.url }}' class='list-group-item'>
    <h4 class="list-group-item-heading">by {{ post.user().name }} at {{ post.createdAt }}</h4>
    <p class="list-group-item-text">{{ post.description }}</p>
  </a>
  <form name='commentForm' ng-controller='CommentCtrl' ng-submit='addComment()' transfer="post" >
    <h2> Schreibe einen Kommentar </h2>
    <div class="form-group">
      <label for='comment'>Kommentar</label>
      <textarea class='form-control' rows='3' id='comment' ng-model='comment.comment'></textarea>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>
