body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

a {
  color: #cd4a4a; }
  a:hover, a:focus {
    color: #191919; }

.btn,
button {
  background-color: #191919;
  color: #BBBBBB; }
  .btn:hover, .btn:focus,
  button:hover,
  button:focus {
    background-color: #187848; }

h2 {
  margin-top: 0; }

textarea {
  width: 100%; }

body {
  background-image: url("../../images/christmas.png");
  padding: 0; }

#header {
  background-color: #191919;
  border-bottom: 5px solid #cd4a4a;
  padding: 2.5rem 0 1rem 0;
  text-align: center;
  position: relative; }

#login-btn {
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3rem 0.6rem 0 0.3rem;
  text-decoration: none; }
  #login-btn:hover, #login-btn:focus {
    border-bottom: 2px solid #FFF; }

#logo {
  display: block; }

#footer {
  background-color: #cd4a4a;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  text-align: center; }
  #footer p {
    margin-bottom: 0; }

.is-right-aligned {
  text-align: right; }

.nav-btn {
  text-align: center;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
  background-color: #cd4a4a; }
  .nav-btn a {
    color: #191919;
    text-transform: uppercase;
    text-decoration: none; }
    .nav-btn a:hover, .nav-btn a:focus {
      border-bottom: 2px solid #191919; }

.post {
  border: none; }

.post__created-by {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.2rem; }

.post__ranking {
  text-align: center; }
  .post__ranking p {
    margin-bottom: 0; }
  .post__ranking button {
    background: none;
    color: #cd4a4a;
    border: none; }
    .post__ranking button:hover, .post__ranking button:focus {
      color: #191919; }
  .post__ranking button[disabled] {
    color: #BBBBBB; }

.post__delete {
  display: inline-block; }
  .post__delete .btn {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: #FFF;
    color: #cd4a4a;
    padding: 0;
    font-size: 2rem; }
    .post__delete .btn:hover, .post__delete .btn:focus {
      color: #191919; }

.post__controllers .up,
.post__controllers .down {
  display: inline-block; }

.post__comment {
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 0.3rem; }
  .post__comment p {
    margin-bottom: 0; }

.post__show-comments {
  display: inline-block;
  margin-bottom: 1rem; }

.panel .panel-title a {
  color: #cd4a4a; }
  .panel .panel-title a:hover {
    cursor: pointer;
    color: #191919; }
.panel .panel-item {
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 0.5rem; }

form {
  background-color: #FFF;
  padding: 1rem;
  margin: 1rem 0; }
  form label {
    display: block; }
  form input[type="text"],
  form input[type="password"] {
    width: 100%; }

@media screen and (min-width: 25em) {
  #header {
    padding: 4rem; }

  #login-btn {
    font-size: 1.5rem;
    margin-right: 2rem; }

  #footer span {
    display: block; }

  form {
    padding: 1.5rem; }
    form label,
    form input[type="text"],
    form input[type="password"] {
      display: inline-block;
      width: auto; }
    form label {
      min-width: 12rem; } }
@media screen and (min-width: 48em) {
  #login-btn {
    margin-right: 6rem; } }
